<!-- Content -->
<div class="container main-container">
  <div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-warning h-100">
        <img
          src="/assets/mercado-livre.jpg"
          width="100%"
          height="200px"
          class="card-img-top rounded-bottom"
        />
        <div class="card-body">
          <h5 class="card-title">Mercado Livre</h5>
          <p class="card-text">
            Mercado Livre is an Argentine technology company that offers
            e-commerce solutions so that people and companies can buy, sell,
            pay, advertise and ship products over the internet
          </p>
          <button
            type="button"
            href="#"
            class="
              btn btn-outline-warning
              w-100
              position-absolute
              bottom-0
              start-50
              translate-middle-x
            "
          >
            Find out more
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-secondary h-100">
        <img
          src="/assets/amazon.jpg"
          width="100%"
          height="200px"
          class="card-img-top rounded-bottom"
        />
        <div class="card-body">
          <h5 class="card-title">Amazon</h5>
          <p class="card-text">
            Amazon.com is a vast Internet-based enterprise that sells books,
            music, movies, housewares, electronics, toys, and many other goods,
            either directly or as the middleman between other retailers and
            Amazon.com's millions of customers.
          </p>
          <button
            type="button"
            href="#"
            class="
              btn btn-outline-secondary
              w-100
              position-absolute
              bottom-0
              start-50
              translate-middle-x
            "
          >
            Find out more
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-danger h-100">
        <img
          src="/assets/coca-cola.jpeg"
          width="100%"
          height="200px"
          class="card-img-top rounded-bottom"
        />
        <div class="card-body">
          <h5 class="card-title">Coca-Cola</h5>
          <p class="card-text">
            The Coca-Cola Co. is the nonalcoholic beverage company, which
            engages in the manufacture, market, and sale of non-alcoholic
            beverages which include sparkling soft drinks, water, enhanced water
            and sports drinks, juice, dairy and plant-based beverages, tea and
            coffee and energy drinks.
          </p>
          <button
            type="button"
            href="#"
            class="
              btn btn-outline-danger
              w-100
              position-absolute
              bottom-0
              start-50
              translate-middle-x
            "
          >
            Find out more
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card border-dark h-100">
        <img
          src="/assets/tesla.jfif"
          width="100%"
          height="200px"
          class="card-img-top rounded-bottom"
        />
        <div class="card-body">
          <h5 class="card-title">Tesla</h5>
          <p class="card-text">
            Tesla, Inc., is an American automotive and energy storage company
            that develops, produces and sells high-performance electric
            automobiles, engine and transmission components for electric
            vehicles, and battery-based products.
          </p>
          <button
            type="button"
            href="#"
            class="
              btn btn-outline-dark
              w-100
              position-absolute
              bottom-0
              start-50
              translate-middle-x
            "
          >
            Find out more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
